*~
*.swp
*.so
*.o
*.a
*.pyc
.RData
.Rhistory
src/build/*
build
dist
src/pytadbit.py
src/pytadbit_wrap.c
.project
.pydevproject
*.pik
*.pik_hic
*.egg-info
*.cmm
script.cmd
*.gcda
*.out
*.o
*.gcno
testset
.ipynb_checkpoints
.cache
.idea
*.xyz
*.models
